/*
.two-panel-layout {
width: 80% !important;
}
*/

.testtest {
    width: 100%;
    height: 15px;
    background-color: yellow;
    border: 1px solid black;
    box-sizing: border-box;
    position: absolute;
    cursor: pointer;
}

.testtest:hover {
    background-color: red;
}

.testtest.selected {
    border: 2px solid red;
}

.punch-filmstrip-thumbnail-background.hidden {
    fill: rgba(0, 0, 0, 0.3) !important;
}

.punch-filmstrip-thumbnail-border-inner.hidden {
    fill: rgba(0, 0, 0, 0.3) !important;
    stroke-width: 0 !important;
}